extends ../index.jade
include ../mixins/basic-controls.jade
include ../mixins/form-controls.jade
include ../mixins/grid-controls.jade

block content
	script(src='/javascripts/client/controllers/axaliLicenziaCtrl.js')
	script(src='/javascripts/client/controllers/carmomadgeneliCtrl.js')
	div(ng-controller='axaliLicenziaCtrl')
		.jumbotron.jumbotron-ultra-sm
			.container
				.row
					.col-sm-12.col-lg-12
						h2.txt-capital ახალი ლიცენზია
		.container
			.row
				form.form-horizontal(ng-submit="submit()",id="axaliLicenzia")
					div.col-md-12
						+panel('ლიცენზიანტის მონაცემები',4)
							+textbox('licenzia.licenziantisMonacemebi.pid','საიდენთიფიკაციო კოდი','ან ფიზიკური პირის პირადი ნომერი',true)
							+textbox('licenzia.licenziantisMonacemebi.dasaxeleba','დასახელება','ან ფიზიკური პირის სახელი, გვარი',true)
							+textbox('licenzia.licenziantisMonacemebi.faktMisamarti','ფაქტიური მისამართი','მაგ: წერეთლის #144',true)
							+textbox('licenzia.licenziantisMonacemebi.iurMisamarti','იურიდიული მისამართი','მაგ: წერეთლის #144',true)
							+specInput('licenzia.licenziantisMonacemebi.tel','phone','phone','ტელეფონი','მაგ: 599123456',true)
							+specInput('licenzia.licenziantisMonacemebi.mail','email','envelope','e-ფოსტა','მაგ: someone@mail.com',false)
							+fileUpload('licenziantisMonacemebi/mibmuliFailebi','*',true,'მიბმული ფაილები',true)
						hr
						a.btn.btn-default.txt-capital(ng-click='open()') წარმომადგენელი პირი
						hr
						+panel('ინფორმაცია ობიექტის შესახებ',4)
							div.col-md-6
								+typeahead('licenzia.informaciaObiektisShesaxeb.regioni',regionebi,'რეგიონი',true)
								+typeahead('licenzia.informaciaObiektisShesaxeb.municipaliteti',municipalitetebi,'მუნიციპალიტეტი',true)
								+textbox('licenzia.informaciaObiektisShesaxeb.dasaxlebuliPunkti','დასახლებული პუნქტი','',true)
							div.col-md-6
								+combobox('licenzia.informaciaObiektisShesaxeb.fartobiUom',fartobiUoms,'ფართობის საზომი ერთეული',true)
								+numberbox('licenzia.informaciaObiektisShesaxeb.fartobi','ფართობი','',true)
							div.col-md-12
								+panel('რესურსები')
									table.table.table-hover.table-bordered.table-condensed
										thead
											tr.txt-capital
												th(width='37%') დასახელება
												th(width='10%') რაოდენობა
												th(width='15%') ზომის ერთეული
												th(width='35%') გამოყენების სფერო
												th(width='3%')
										tbody
											tr(ng-repeat='res in licenzia.informaciaObiektisShesaxeb.resursebi')
												td
													+typeaheadCell('res.dasaxeleba',resursebi,true)
												td
													+numbercell('res.raodenoba',true)
												td
													+combocell('res.uom',uoms,true)
												td
													+textcell('res.gamokenebisSfero',true)
												td
													a.btn.btn-sm.btn-danger.pull-right(ng-click='removeResursi(res)') X
											tr
												td(colspan='4')
												td
													a.btn.btn-sm.btn-success.pull-right(ng-click='addResursi()') +
						+panel('ინფორმაცია ლიცენზიის შესახებ',4)
							+textbox('licenzia.informaciaLicenziisShesaxeb.nomeri','ლიცენზიის N','',true)
							+datepicker('licenzia.informaciaLicenziisShesaxeb.gacemisTarigi','გაცემის თარიღი',true)
							+textbox('licenzia.informaciaLicenziisShesaxeb.brdzanebisNomeri','ბრძანების N','',true)
							+datepicker('licenzia.informaciaLicenziisShesaxeb.brdzanebisTarigi','ბრძანების თარიღი',true)
							+numberbox('licenzia.informaciaLicenziisShesaxeb.moqmedebisVada','მოქმედების ვადა','წლებში (მაგ: 5)',true)
							+bigtext('licenzia.informaciaLicenziisShesaxeb.salicenzioPirobebi','სალიცენზიო პირობები',5,10,false)
							+combobox('licenzia.informaciaLicenziisShesaxeb.statusi.mnishvneloba',statusebi,'ლიცენზიის სტატუსი',true)
							div.form-group(ng-if="licenzia.informaciaLicenziisShesaxeb.statusi.mnishvneloba == 'შეზღუდული'")
								label.control-label.col-md-4.txt-capital შეზღუდული სტატუსის საფუძველი
								div.col-md-6
									input.form-control(type='file',name='informaciaLicenziisShesaxeb/statusi/safudzveli',
																file-upload,accept=accept,multiple=multiple,required)
							+fileUpload('informaciaLicenziisShesaxeb/mibmuliFailebi','*',true,'ფაილები',true)
						+panel('დამატებითი ინფორმაცია',4)
							+fileUpload('damatebitiInformacia/ruqa','*',true,'რუქა',true)
							each k in kategoriebi
								div.form-group
									label.control-label.col-md-4.txt-capital= k
									div.col-md-3
										input.form-control(type='number',step='any',name='licenzia.damatebitiInformacia.'+k+'.mnishvneloba',
																			ng-model='licenzia.damatebitiInformacia.'+k+'.mnishvneloba')
									div.col-md-3
										select.form-control(type='text',name='licenzia.damatebitiInformacia.'+k+'.uom',
																			ng-model='licenzia.damatebitiInformacia.'+k+'.uom')
											option= ""
											each u in uoms
												option= u
							+fileUpload('damatebitiInformacia/atvisebisGegma','*',true,'ათვისების გეგმა',false)
							+fileUpload('damatebitiInformacia/geoSainformacioPaketi','*',true,'გეოსაინფორმაციო პაკეტი',true)
							+radio('licenzia.damatebitiInformacia.regulirebisGadamxdeli','rg',regulirebisGadamxdeliOptions,'რეგულირების გადამხდელი',true)
							+panel('ლიცენზიის წარმოქმნის საფუძველი')
								tabset
									tab(ng-repeat="carmSaf in carmoqmnisSafudzvlebi",heading="{{carmSaf.title}}",active="carmSaf.active",style='cursor:pointer')
										hr
										div.form-group(ng-repeat="field in carmSaf.data")
											label.control-label.col-md-4.txt-capital {{field.label}}
											div.col-md-6
												input.form-control(type="{{field.type}}",name="{{field.name}}",
																					placeholder="{{field.placeholder}}",
																					ng-required="carmSaf.active",
																					ng-model="field.value",
																					ng-if="field.type!='file' && field.type!='number'")
												input.form-control(type="number",
																					name="{{field.name}}",
																					step='any',
																					placeholder="{{field.placeholder}}",
																					ng-required="carmSaf.active",
																					ng-model="field.value",
																					ng-if="field.type=='number'")
												input.form-control(type='file',
																					name="{{field.name}}",
																					file-upload,
																					accept='*',
																					multiple,
																					ng-required="carmSaf.active",
																					ng-if="field.type == 'file'")
							+panel('ლიცენზიის გაუქმების საფუძველი')
								tabset
									tab(ng-repeat="gauqSaf in gauqmebisSafudzvlebi",heading="{{gauqSaf.title}}",active="gauqSaf.active",style='cursor:pointer')
										hr
										div.form-group(ng-repeat="field in gauqSaf.data")
											label.control-label.col-md-4.txt-capital {{field.label}}
											div.col-md-6
												input.form-control(type="{{field.type}}",
																					name="{{field.name}}",
																					placeholder="{{field.placeholder}}",
																					ng-required="gauqSaf.active",
																					ng-model="field.value",
																					ng-if="field.type!='file' && field.type!='number'")
												input.form-control(type="number",
																					name="{{field.name}}",
																					step='any',
																					placeholder="{{field.placeholder}}",
																					ng-required="gauqSaf.active",
																					ng-model="field.value",
																					ng-if="field.type=='number'")
												input.form-control(type='file',
																					name="{{field.name}}",
																					file-upload,
																					accept='*',
																					multiple,
																					ng-required="gauqSaf.active",
																					ng-if="field.type == 'file'")
					div.col-md-12
						button.btn.btn-success.pull-right.txt-capital(type='submit',name='submit') რეგისტრაცია
		hr
		.jumbotron.jumbotron-sm
			.container
				.row
					.col-sm-12.col-lg-12
						h4.txt-capital © გარემოს ეროვნული სააგენტო