div.panel.panel-info
	div.panel-heading
		span.panel-title წარმომადგენელი პირი
	table.table.table-bordered
		tr
			th.txt-capital პირადი ნომერი
			td= doc.carmomadgeneli.pid
		tr
			th.txt-capital სახელი
			td= doc.carmomadgeneli.saxeli
		tr
			th.txt-capital გვარი
			td= doc.carmomadgeneli.gvari
		tr
			th.txt-capital ტელეფონი
			td= doc.carmomadgeneli.tel
		tr
			th.txt-capital e-ფოსტა
			td= doc.carmomadgeneli.mail