extends layout

block body
	//if server.database asdasd sss asdasd
	// | Indent
	script(src='/javascripts/client/controllers/common/bottomNavbarCtrl.js')
	script.
		var user = JSON.parse('!{JSON.stringify(user)}');
		garemoApp.value('authorizedUser',user);
		garemoApp.controller('mainCtrl'
			,function($socket){
				$socket.emit('userConnected',user.username);
			});
	div.navbar.navbar-default.navbar-fixed-top.navbar-inverse
		div.navbar-header
			a(rel='home',href='/')
				img(src='/img/nealogo.png',style='width:90%;margin-top:3px;')
		ul.nav.navbar-nav
			li.txt-capital
				a(href='/')
					i.glyphicon.glyphicon-home
					span= ' Home'
			each item in user.role.menu
				if item.children.length > 0
					li.dropdown.txt-capital
						a.dropdown-toggle(href)
							span= item.heading
							b.caret
						ul.dropdown-menu
							each itemChild in item.children
								li
									a(href=itemChild.url)= itemChild.heading
				else
					li.txt-capital
						a(href=item.url)= item.heading
		form.navbar-form.pull-right(action='/logout')
			button.btn.btn-default.txt-capital(type='submit') გასვლა
	div(ng-controller="mainCtrl")
	div
		block content
	div(ng-controller="bottomNavbarCtrl")
		div.navbar.navbar-default.navbar-fixed-bottom.navbar-inverse
			ul.nav.navbar-nav
				li
					a.btn.btn-default.btn-inverse.btn-lg.notification-toggle(
										style='padding:0px !important;margin:1px 0px 0px 1px;'
										ns-popover,
										ng-click='openPopup()',
										ns-popover-template='/templates/common/notifications',
										ns-popover-trigger='click',
										ns-popover-theme='ns-popover-tooltip-theme',
										ns-popover-placement='top|left')
						i.glyphicon.glyphicon-info-sign(style='font-size:24px;margin:8px 4px 8px 4px;',ng-style="unreadItemsCount > 0 ? {color:'red'} : {color:'#5bc0de'}")
							span.txt-capital(style='font-size:30px;') {{unreadItemsCount}}
				li.dropdown.txt-capital
					a.dropdown-toggle(href)
						span პარამეტრები
						b.caret
					ul.dropdown-menu
						li
							a(href='/parametrebi/parolisShecvla') პაროლის შეცვლა
			p.navbar-text.pull-right: b= user.dasaxeleba