table.table.table-hover.table-bordered.table-striped
	thead.txt-capital
		th(width='5%') ID
		th საიდენთიფიკაციო #
		th დასახელება
		th ლიცენზიის #
		th ბრძანების #
		th რეგიონი
		th მუნიციპალიტეტი
		th დასახლებული პუნქტი
		th რეგულირების გადამხდელი
		th სტატუსი
	each item in items
		tr.grid-item
			td
				a(href=item.edit)= item.id
			td= item.pid
			td= item.dasaxeleba
			td= item.licenziisNomeri
			td= item.brdzanebisNomeri
			td= item.regioni
			td= item.municipaliteti
			td= item.dasaxlebuliPunkti
			td= item.regulirebisGadamxdeli
			td= item.statusi