extends ../../index
block content
	div.jumbotron.jumbotron-ultra-sm
		div.container
			div.row
				div.col-sm-12.col-lg-12
					h2.txt-capital ლიცენზიანტის ანგარიშები
	div.container
		div.row
			div.panel.panel-default
				div.panel-body
					form.form-inline(method='GET',role='form',action='/operatori/licenziantebi/angarishebi')
						div.form-group.col-md-3
							input.form-control(type='text',placeholder='ნებისმიერი საკვანძო სიტყვა',
							name='searchText',value=searchText,id='searchTxtIpt',style='width:100%;')
						button.btn.btn-default.txt-capital ძებნა
				div.panel.panel-default
					div.panel-heading.txt-capital ნაპოვნი ლიცენზიანტის ანგარიშები
					div.panel-body
						table.table.table-hover.table-bordered.table-striped
							thead.txt-capital
								th(width='50%') დასახელება
								th(width='25%') საიდენთიფიკაციო #
								th(width='25%') პაროლი
							each item in items
								tr.grid-item
									td= item.dasaxeleba
									td
										a(href=item.edit)= item.pid
									td= item.paroli
						ul.pagination
							each page in pages
								li(class=page.active ? 'active':'')
									a(href=page.link)= page.number