extends ../../index
include ../../mixins/basic-controls
include ../../mixins/grid-controls
block content
	div.container
		div.panel.panel-primary
			div.panel-heading
				span.panel-title ათვისების გეგმა
			div.panel-body
				hr
				span(style='font-size:24px;')
					span= ' ლიცენზიისთვის : '
					a(href='/operatori/licenziebi/'+id)= doc.licenziisId
				hr
				table.table.table-hover.table-bordered.table-condensed
					thead
						tr.txt-capital
							th წელი
							th ასათვისებელი რესურსის ოდენობა
					tbody
						each gi in doc.chanacerebi
							tr
								td= gi.celi
								td= gi.odenoba
				a.btn.btn-success.pull-right(href=id + '/korektireba') კორექტირება
				if doc.statusi == 'მოლოდინში'
					form.pull-right(method='POST',action=id + '/uarkofa')
						button.btn.btn-success უარყოფა
					form.pull-right(method='POST',action=id + '/damtkiceba')
						button.btn.btn-success დამტკიცება